.header{
    background-color:gray;
    text-align: center;
    padding: 5px
    color black;
    font-family: "Times New Roman", Times, Serif;
    font-size: 12px
    margin 2px 2px;
}
h2{
    background-color: red;
}

p{
    text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.875em; 
    letter-spacing: 1px;
}
h3{
    background-color: gray;
    text-align: center;
    padding:0,20,0;
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    text-decoration: underline black;
}
ul{
    list-style-type: square;
    background-color: gray;
    padding: 20px;
    text-align: left;
    border: 2px solid red;
    letter-spacing: 1px;
    

}
h4{
    background-color: gray;
    text-align: center;
    padding: 25px;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    border: 2px solid black;
    }
 
img{
    margin: 5px;
    border-radius: 2px;
    box-sizing: border-box;

}    
.nav{
    padding: auto;
    margin: 0;
    text-decoration: underline;
    list-style: square;
}

/* .nav{
    height: 20px;
    width: 100%;
    background-color: gray;
} */

label{
    font-size: 12px;
    font-weight: bold;
    color: red;
    padding:auto;
    line-height: 2px;
}
.nav ul{
    float: right;
    margin-right: 20px;
}

nav li{
    display: inline-block;
    text-transform: uppercase;
    color: red;
    line-height: 2px;
}


 nav :hover{
     border: 1px solid black;
     transition: .5s ease;
 }   

 nav#icon{
     color: blue;
     font-size: 12px;
     line-height: 2px;
     float: right;
     margin-right: 20px;
     cursor: pointer;
     display: block;
 }
nav label{
    color: blue;
    background: gray;
}
nav ul show{
    left: 0;
}

form{
    
    background-color: grey;
    border:2px solid blue;
    box-sizing: content-box 2px;
    
}

.form.btn{
    background-color: blue;
}

.btn :hover{
    background-color: blue;
}

nav.open {
    display: block;
}

button {
    display: none;
}

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/** here is where your mobile styles should go **/
@media only screen and (max-width: 600px) {

    nav ul li {
        display: block;
        line-height: initial;
        margin-bottom: 10px;
        text-align: center;
    }

    nav {
        height: 0;
        opacity: 0;
        transition: height .5s, opacity 1s;
    }

    nav.open {
        height: initial;
        opacity: 1;
    }

    button {
        display: block;
    }

}

    
/** here is where your tablet size and larger styles should go **/
@media ( min-width : 800px){

    .images {
        flex-direction: row;
        flex-wrap: wrap;
    }
}
    
    

    

    




    
    

    






    
    
    
    
    











footer{
    text-align: center;
    padding: 30x;
    background-color: gray;
    color: black;
    border: 2px solid red;
    line-height: 20px;
    letter-spacing: 1;

}
.form header{
    border: red;

    
}